body{font-family:Arial,Helvetica,sans-serif;margin:0;background:#F0E6D3;color:#000;background:#F0E6D3;}
ul{margin:5px;padding-left:20px; list-style: none;}
label{font-size:11px;}
.BodyContent{position:relative;left:0;top:0;width:100%;margin:0 auto 0 auto;}
.BackgroundGradient{position:absolute;left:0;top:0;width:100%;height:100%;z-index:-1000;background:url('../images/BackgroundGradient.png') repeat-x;}
.Border{position:relative;z-index:1;overflow:hidden;padding:5px 5px 5px 5px;color:#000;font-size:13px;}
.Border a{color:#351100;text-decoration:underline;}
.Border a:visited{color:#351100;text-decoration:underline;}
.Border a:hover{color:#000;text-decoration:none;}
.BorderBorder{z-index:0;position:relative;margin:5px;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR,.BorderL,.BorderT,.BorderR,.BorderB,.BorderC{position:absolute;z-index:-1;overflow:hidden;}
.BorderTL,.BorderTR,.BorderBL,.BorderBR{width:35px;height:35px;}
.BorderTL{top:0;left:0;background-image:url('../images/BorderCorners.png');}
.BorderTR div,.BorderBL div,.BorderBR div{height:70px;width:70px;position:absolute;z-index:-1;background-image:url('../images/BorderCorners.png');}
.BorderTR div{left:-35px;}
.BorderBL div{top:-35px;}
.BorderBR div{left:-35px;top:-35px;}
.BorderTR{top:0;right:0;}
.BorderBL{bottom:0;left:0;}
.BorderBR{bottom:0;right:0;}
.BorderT,.BorderB{left:35px;right:35px;height:35px;}
.BorderT{top:0;background-image:url('../images/BorderHorizontal.png');}
.BorderB{bottom:0;}
.BorderB div{position:absolute;z-index:-1;top:-35px;height:70px;width:100%;background-image:url('../images/BorderHorizontal.png');}
.BorderL,.BorderR{top:35px;bottom:35px;width:35px;}
.BorderL{left:0;background-image:url('../images/BorderVertical.png');}
.BorderR{right:0;}
.BorderR div{position:absolute;z-index:-1;left:-35px;width:70px;height:100%;background-image:url('../images/BorderVertical.png');}
.BorderC{left:35px;top:35px;right:35px;bottom:35px;background-image:url('../images/BorderCenter.png');}
.BorderBorder{width:1000px;margin:5px auto;}
.Header{position:relative;background-image:url('../images/Header.png');background-repeat:no-repeat;padding:0;height:200px;color:#000;}
.HeaderTitle{height:200px;width:1000px;display:table-cell;text-align:Center;vertical-align:Top;color:#000;font-size:18px;text-decoration:none;font-style:normal;font-weight:bold;}
.HeaderTitle h1 a,.HeaderTitle h1 a:link,.HeaderTitle h1 a:visited,.HeaderTitle h1 a:hover{text-decoration:none;color:inherit;}
.HeaderTitle h1{margin:0;padding:0 28px;color:#000;font-size:26px;text-decoration:none;font-style:normal;font-weight:bold;}
.HeaderTitle h2{margin:0;padding:0 28px;font-size:inherit;font-weight:inherit;}
.Menu{background:transparent url('../images/MenuBar.png') no-repeat;padding:5px 5px 0 5px;margin:0;text-align:Center;}
.Menu ul{list-style-type:none;padding:0;margin:0;color:#000;}
.Menu li{display:inline;padding:0;margin:0;}
.MenuButton,.MenuButtonInput{border:0;margin:0;background:transparent url('../images/MenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:inline-block;color:#000;font-size:13px;vertical-align:middle;zoom:1;}
.MenuButton span,.MenuButtonInput span{border:0;margin:0;background:transparent url('../images/MenuButton.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.MenuButton span{padding:5px 18px 5px 0;}
.MenuButtonInput span{padding:0 18px 0 0;height:25px;}
.MenuButtonInput input{color:#000;font-size:13px;color:inherit;height:25px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-18px;}
.MenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.MenuButton,.MenuButton:link,.MenuButton:visited,.MenuButton:hover,.MenuButton:active{text-decoration:none!important;outline:none;}
.MenuButton:hover,.MenuButtonInput:hover{background-position:left center;}
.MenuButton:hover span,.MenuButtonInput:hover span{background-position:right center;color:#000;}
.MenuButton:active,.MenuButtonInput:active{background-position:left bottom;}
.MenuButton:active span,.MenuButtonInput:active span{background-position:right bottom;color:#000;}
.ActiveMenuButton,.ActiveMenuButtonInput{border:0;margin:0;background:transparent url('../images/ActiveMenuButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:inline-block;color:#000;font-size:13px;vertical-align:middle;zoom:1;}
.ActiveMenuButton span,.ActiveMenuButtonInput span{border:0;margin:0;background:transparent url('../images/ActiveMenuButton.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.ActiveMenuButton span{padding:5px 18px 5px 0;}
.ActiveMenuButtonInput span{padding:0 18px 0 0;height:25px;}
.ActiveMenuButtonInput input{color:#000;font-size:13px;color:inherit;height:25px;padding:0 18px;margin:0 -18px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-18px;}
.ActiveMenuButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.ActiveMenuButton,.ActiveMenuButton:link,.ActiveMenuButton:visited,.ActiveMenuButton:hover,.ActiveMenuButton:active{text-decoration:none!important;outline:none;}
.ActiveMenuButton:hover,.ActiveMenuButtonInput:hover{background-position:left center;}
.ActiveMenuButton:hover span,.ActiveMenuButtonInput:hover span{background-position:right center;color:#000;}
.ActiveMenuButton:active,.ActiveMenuButtonInput:active{background-position:left bottom;}
.ActiveMenuButton:active span,.ActiveMenuButtonInput:active span{background-position:right bottom;color:#000;}
.Columns{overflow:hidden;}
.Column1{overflow:hidden;float:left;width:30%;}
.Column2{overflow:hidden;float:right;width:30%;}
.MainColumn{overflow:hidden;}
img{border:0;}
h2{margin:0;color: #404040;}
h1{color: #404040; border-bottom: dashed 1px #404040;}
h3{color: #404040; border-bottom: solid 1px;}
blockquote{width:80%;color:#000;border:solid 1px #503416;background:#FFF;margin:0 auto;padding:15px;-webkit-border-radius:5px;-moz-border-radius:5px;}
blockquote a,blockquote a:link{color:#491700!important;text-decoration:underline;}
blockquote a:visited{color:#491700!important;text-decoration:underline;}
blockquote a:hover{color:#000!important;text-decoration:none;}
.Article{position:relative;z-index:1;overflow:hidden;padding:10px 10px 10px 10px;color:#000;font-size:13px;margin:0;}
.Article a{color:#351100;text-decoration:underline;}
.Article a:visited{color:#351100;text-decoration:underline;}
.Article a:hover{color:#000;text-decoration:none;}
.Article h2{color:#000;font-size:22px;text-decoration:none;font-style:normal;font-weight:bold;}
.Article h2 a,.Article h2 a:visited{color:#000;text-decoration:none;}
.Article h2 a:hover{text-decoration:underline;}
.Block{position:relative;z-index:1;overflow:hidden;padding:6px 6px 6px 6px;color:#000;font-size:13px;}
.Block a{color:#491700;text-decoration:underline;}
.Block a:visited{color:#491700;text-decoration:underline;}
.Block a:hover{color:#000;text-decoration:none;}
.BlockBorder{z-index:0;position:relative;margin:5px;}
.BlockTL,.BlockTR,.BlockBL,.BlockBR,.BlockL,.BlockT,.BlockR,.BlockB,.BlockC{position:absolute;z-index:-1;overflow:hidden;}
.BlockTL,.BlockTR,.BlockBL,.BlockBR{width:6px;height:6px;}
.BlockTL{top:0;left:0;background-image:url('../images/BlockCorners.png');}
.BlockTR div,.BlockBL div,.BlockBR div{height:12px;width:12px;position:absolute;z-index:-1;background-image:url('../images/BlockCorners.png');}
.BlockTR div{left:-6px;}
.BlockBL div{top:-6px;}
.BlockBR div{left:-6px;top:-6px;}
.BlockTR{top:0;right:0;}
.BlockBL{bottom:0;left:0;}
.BlockBR{bottom:0;right:0;}
.BlockT,.BlockB{left:6px;right:6px;height:6px;}
.BlockT{top:0;background-image:url('../images/BlockHorizontal.png');}
.BlockB{bottom:0;}
.BlockB div{position:absolute;z-index:-1;top:-6px;height:12px;width:100%;background-image:url('../images/BlockHorizontal.png');}
.BlockL,.BlockR{top:6px;bottom:6px;width:6px;}
.BlockL{left:0;background-image:url('../images/BlockVertical.png');}
.BlockR{right:0;}
.BlockR div{position:absolute;z-index:-1;left:-6px;width:12px;height:100%;background-image:url('../images/BlockVertical.png');}
.BlockC{left:6px;top:6px;right:6px;bottom:6px;background-image:url('../images/BlockCenter.png');}
.BlockHeader{border:0;margin:0;background:transparent url('../images/BlockHeaderAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:25px;padding:0 0 0 18px;display:block;color:#000;font-size:13px;font-weight:bold;vertical-align:middle;zoom:1;}
.BlockHeader span{border:0;margin:0;background:transparent url('../images/BlockHeader.png') no-repeat right top;display:block;position:relative;color:#000;line-height:15px;}
.BlockHeader span{padding:5px 18px 5px 0;}
.BlockHeader{margin:0 0 15px 0;}
.BlockContentBorder{position:relative;z-index:1;overflow:hidden;padding:5px 5px 5px 5px;color:#000;font-size:13px;margin:0;}
.BlockContentBorder a{color:#491700;text-decoration:underline;}
.BlockContentBorder a:visited{color:#491700;text-decoration:underline;}
.BlockContentBorder a:hover{color:#000;text-decoration:none;}
.Button,.ButtonInput{border:0;margin:0;background:transparent url('../images/ButtonAnchor.png') no-repeat top left;position:relative;overflow:hidden;height:37px;padding:0 0 0 25px;display:inline-block;color:#000;font-size:13px;vertical-align:middle;zoom:1;}
.Button span,.ButtonInput span{border:0;margin:0;background:transparent url('../images/Button.png') no-repeat right top;display:block;position:relative;color:#000;line-height:13px;}
.Button span{padding:12px 25px 12px 0;}
.ButtonInput span{padding:0 25px 0 0;height:37px;}
.ButtonInput input{color:#000;font-size:13px;color:inherit;height:37px;padding:0 25px;margin:0 -25px;overflow:visible;cursor:pointer;background:Transparent;border:0;*left:-25px;}
.ButtonInput::-moz-focus-inner,input[type="reset"]::-moz-focus-inner,input[type="button"]::-moz-focus-inner,input[type="submit"]::-moz-focus-inner,input[type="file"]>input[type="button"]::-moz-focus-inner{border:none;}
.Button,.Button:link,.Button:visited,.Button:hover,.Button:active{text-decoration:none!important;outline:none;}
.Button:hover,.ButtonInput:hover{background-position:left center;}
.Button:hover span,.ButtonInput:hover span{background-position:right center;color:#000;}
.Button:active,.ButtonInput:active{background-position:left bottom;}
.Button:active span,.ButtonInput:active span{background-position:right bottom;color:#000;}
.Footer{color:#000;font-size:13px;text-align:Center;background:url('../images/Footer.png') bottom left;overflow:hidden;padding:5px 28px;}
.Footer a{color:#000;text-decoration:underline;}
.Footer a:visited{color:#000;text-decoration:underline;}
.Footer a:hover{color:#000;text-decoration:none;}
.BackLink{text-align:center;display:block;display:block;font-size:11px;padding:0 0 12px;color:#000;}
.BackLink a{color:#000;}
.LineHeader{color:#000;font-size:13px;text-align:right; background-color: #F0E6D3; overflow:hidden;padding:5px 28px;}

.error{color: #EB1010; font-size: 10px; display:none;}
fieldset{margin:1px;border:none;border-top:1px solid #ccc; border-right: solid 1px #ccc;}
fieldset div{padding: 2px;display:block;}
fieldset label{font-size:12px;float:left;width:200px;text-align:right;padding:0 1em;}
legend{margin:1em 0;padding:0 .5em;color:#404040;background:transparent;font-size:1.3em;font-weight:bold;}
.form{float:left;}
.tooltip{float:right; padding:10px; max-width:200px; text-align: left;}

/****************************** Menu (Cardapio) ************************************/
div.panel,p.flip {margin:0px;padding:5px;}
p.flip{font-weight: bold; border-bottom:solid 1px #000000; cursor: default;}
div.panel{display:none; border-bottom:dashed 1px #c3c3c3;}

ul.products{margin:5px;padding-left:15px; list-style: none;}
ul.products li a{text-decoration:none; color: #404040; font-weight:bold;}
ul.products li a:hover{color: #000;}
ul.products li div{font-style: italic; padding-left:10px;}


div.content img{float:left; margin-right: 10px;}
.elements ul {
    padding:10px;
    margin:0px;
    width: 80%;
    background-color:#F0E6D3;
    list-style:none;
}

.elements ul li { display: inline; padding:5px; }

.detail {display:none; /*--Hides by default--*/}

#detailedContent{
    color: #fff;
    background:#1d1d1d;
    padding:10px;
    position:absolute;    z-index:1000;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
    font-size: 11px;			
	}
#detailedContent h3{
	margin:0 0 .5em 0;
    color: #fff;
	font:13px Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	}	
#detailedContent p{
	margin:0 0 .5em 0;
	}		
#detailedContent img{
		background:#fff;
		padding:1px;
		border:1px solid #e1e1e1;
		float:left;
		margin-right:10px;
		}

#shopCar{display:none;}


#shopList {
    padding:10px;
    margin:0px;
    background-color:#F0E6D3;
    list-style:none;
}

#shopList li {padding:5px; border-bottom:#000000 dashed 1px; }
/****************************** Dialogs ********************************************/
.dialog{display:none; background-color: #FFF; border:solid 1px #000; padding:6px 6px 6px 6px;}
